<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>
Author: Yury Kashnitsky, Data Scientist at Mail.Ru Group

This material is subject to the terms and conditions of the license [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Free use is permitted for any non-comercial purpose with an obligatory indication of the names of the authors and of the source.

## <center>Assignment #6. Part 1
### <center> Beating benchmarks in "Catch Me If You Can: Intruder Detection through Webpage Session Tracking"
    
[Competition](https://www.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2). The task is to beat "Assignment 6 baseline".

In [134]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import os
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold, cross_val_score, GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.feature_extraction.text import TfidfVectorizer

Reading original data

In [135]:
train_df = pd.read_csv('../../data/train_sessions (2).csv', index_col='session_id')
test_df = pd.read_csv('../../data/test_sessions (2).csv', index_col='session_id')
full_df = pd.concat([train_df.drop('target', axis=1), test_df])

idx = train_df.shape[0]

Separate target feature

In [136]:
y = train_df['target']

In [137]:
sites = ['site%s' %i for i in range(1, 11)]
full_df[sites] = full_df[sites].fillna(0).astype(int)
full_df[sites] = full_df[sites].astype(str)
full_df[sites].head()

            site1 site2  site3  site4 site5 site6  site7  site8  site9 site10
session_id
1             718     0      0      0     0     0      0      0      0      0
2             890   941   3847    941   942  3846   3847   3846   1516   1518
3           14769    39  14768  14769    37    39  14768  14768  14768  14768
4             782   782    782    782   782   782    782    782    782    782
5              22   177    175    178   177   178    175    177    177    178

Build Tf-Idf features based on sites. You can use `ngram_range`=(1, 3) and `max_features`=100000 or more

In [117]:
site1 = full_df['site1'].values.flatten()
site2 = full_df['site2'].values.flatten()
site3 = full_df['site3'].values.flatten()
site4 = full_df['site4'].values.flatten()
site5 = full_df['site5'].values.flatten()
site6 = full_df['site6'].values.flatten()
site7 = full_df['site7'].values.flatten()
site8 = full_df['site8'].values.flatten()
site9 = full_df['site9'].values.flatten()
site10 = full_df['site10'].values.flatten()

session_str = site1 + ' ' + site2 + ' ' + site3 + ' ' + site4 + ' ' + site5 + ' ' + site6 + ' ' + site7 + ' ' + site8 + ' ' + site9 + ' ' + site10 
session_str = [str.replace(' 0', '') for str in session_str]

In [138]:
tf = TfidfVectorizer(ngram_range=(1, 3), max_features=100000)
tf.fit(session_str)

site_feat = tf.transform(session_str[:idx])
site_feat

<253561x100000 sparse matrix of type '<class 'numpy.float64'>'
	with 3610893 stored elements in Compressed Sparse Row format>

Add features based on the session start time: hour, whether it's morning, day or night and so on.

In [139]:
times = ['time%s' % i for i in range(1, 11)]
full_df[times] = full_df[times].apply(pd.to_datetime)
full_df['hour'] = full_df['time1'].apply(lambda x: x.hour)
full_df['month'] = full_df['time1'].apply(lambda x: x.month)
full_df['year'] = full_df['time1'].apply(lambda x: x.year)

In [140]:
full_df['is_morning'] =  full_df['hour'].apply(lambda x: 1 if x in range(4,13) else 0)
full_df['is_day'] = full_df['hour'].apply(lambda x: 1 if x in range(13,19) else 0)
full_df['is_evening'] = full_df['hour'].apply(lambda x: 1 if x in range(19,25) else 0)
full_df['is_night'] = full_df['hour'].apply(lambda x: 1 if x in range(0,4) else 0)
full_df['day'] = full_df['time1'].apply(lambda x: x.weekday())

full_df['is_morning_1'] = full_df['hour'].apply(lambda x: 1 if x in range(4, 9) else 0)
full_df['is_morning_2'] = full_df['hour'].apply(lambda x: 1 if x in range(9, 13) else 0)
full_df['is_day_1'] = full_df['hour'].apply(lambda x: 1 if x in range(13,16) else 0)
full_df['is_day_2'] = full_df['hour'].apply(lambda x: 1 if x in range(16,19) else 0)
full_df['is_evening_1'] = full_df['hour'].apply(lambda x: 1 if x in range(19,22) else 0)
full_df['is_evening_2'] = full_df['hour'].apply(lambda x: 1 if x in range(22,25) else 0)

Scale this features and combine then with Tf-Idf based on sites (you'll need `scipy.sparse.hstack`)

In [141]:
full_df = pd.concat([full_df, 
                     pd.get_dummies(full_df['hour'], prefix='hour'),
                     pd.get_dummies(full_df['day'], prefix='day'),
                     pd.get_dummies(full_df['month'], prefix='month'),
                     pd.get_dummies(full_df['year'], prefix='month')], axis=1)
full_df.drop('hour', axis=1, inplace=True)
full_df.drop(sites, axis=1, inplace=True)
full_df.drop(times, axis=1, inplace=True)
full_df.head()

,month,year,is_morning,is_day,is_evening,is_night,day,is_morning_1,is_morning_2,is_day_1,...,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,month_2013,month_2014
session_id,,,,,,,,,,,,,,,,,,,,,
1,2,2014,1,0,0,0,3,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,2,2014,1,0,0,0,5,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,12,2013,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,3,2014,1,0,0,0,4,0,1,0,...,0,0,0,0,0,0,0,0,0,1
5,2,2014,1,0,0,0,4,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [142]:
full_df.drop('is_night', axis=1, inplace=True)
full_df.drop('day', axis=1, inplace=True)
full_df.drop('month', axis=1, inplace=True)
full_df.drop('year', axis=1, inplace=True)

In [143]:
scaler = StandardScaler()
scaler.fit(full_df)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [144]:
time_feat_scaled = scaler.transform(full_df[:idx])
# time_feat = csr_matrix(time_feat_scaled)
ime_feat = csr_matrix(full_df[:idx])
time_feat

<253561x47 sparse matrix of type '<class 'numpy.float64'>'
	with 11917367 stored elements in Compressed Sparse Row format>

In [145]:
X = hstack([time_feat, site_feat])
X

<253561x100047 sparse matrix of type '<class 'numpy.float64'>'
	with 15528260 stored elements in COOrdinate format>

Perform cross-validation with logistic regression.

In [146]:
scv = StratifiedKFold(n_splits=4, random_state=18, shuffle=True)
lr = LogisticRegression(random_state=18, n_jobs=-1, C=10)
np.mean(cross_val_score(lr, X, y, cv=scv, scoring='roc_auc', n_jobs=-1))

0.9889666101787302

In [147]:
lr_grid = LogisticRegression(random_state=18, n_jobs=-1, C=10).fit(X, y)

Make prediction for the test set and form a submission file.

In [148]:
time_feat_scaled = scaler.transform(full_df[idx:])
time_feat_test = csr_matrix(time_feat_scaled)

site_feat_test = tf.transform(session_str[idx:])

X_test = hstack([time_feat_test, site_feat_test])

In [149]:
test_pred = lr_grid.predict_proba(X_test)[:, 1]

In [150]:
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [151]:
write_to_submission_file(test_pred, "assignment6_alice_submission.csv")